TMadeCrochet/.gitignore
TMadeCrochet/build.gradle.kts
TMadeCrochet/gradle.properties
TMadeCrochet/gradlew
TMadeCrochet/gradlew.bat
TMadeCrochet/settings.gradle.kts
TMadeCrochet/.idea/.gitignore
TMadeCrochet/.idea/compiler.xml
TMadeCrochet/.idea/deploymentTargetSelector.xml
TMadeCrochet/.idea/gradle.xml
TMadeCrochet/.idea/kotlinc.xml
TMadeCrochet/.idea/migrations.xml
TMadeCrochet/.idea/misc.xml
TMadeCrochet/.idea/other.xml
TMadeCrochet/app/.gitignore
TMadeCrochet/app/build.gradle.kts
TMadeCrochet/app/proguard-rules.pro
TMadeCrochet/app/src/androidTest/java/com/tmadecrochet/dev/ExampleInstrumentedTest.java
TMadeCrochet/app/src/main/AndroidManifest.xml
TMadeCrochet/app/src/main/java/com/tmadecrochet/dev/MainActivity.java
TMadeCrochet/app/src/main/java/com/tmadecrochet/dev/SplashActivity.java
TMadeCrochet/app/src/main/java/com/tmadecrochet/dev/ui/theme/Color.kt
TMadeCrochet/app/src/main/java/com/tmadecrochet/dev/ui/theme/Theme.kt
TMadeCrochet/app/src/main/java/com/tmadecrochet/dev/ui/theme/Type.kt
TMadeCrochet/app/src/main/res/drawable/group_1.png
TMadeCrochet/app/src/main/res/drawable/group_2.png
TMadeCrochet/app/src/main/res/drawable/group_4.png
TMadeCrochet/app/src/main/res/drawable/group_5.png
TMadeCrochet/app/src/main/res/drawable/ic_launcher_background.xml
TMadeCrochet/app/src/main/res/drawable/ic_launcher_foreground.xml
TMadeCrochet/app/src/main/res/drawable/ico_plash_image_3.xml
TMadeCrochet/app/src/main/res/drawable/plash_screen.xml
TMadeCrochet/app/src/main/res/layout/activity_main.xml
TMadeCrochet/app/src/main/res/layout/activity_splash.xml
TMadeCrochet/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
TMadeCrochet/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
TMadeCrochet/app/src/main/res/mipmap-hdpi/ic_launcher.webp
TMadeCrochet/app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
TMadeCrochet/app/src/main/res/mipmap-mdpi/ic_launcher.webp
TMadeCrochet/app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
TMadeCrochet/app/src/main/res/mipmap-xhdpi/ic_launcher.webp
TMadeCrochet/app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
TMadeCrochet/app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
TMadeCrochet/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
TMadeCrochet/app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
TMadeCrochet/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
TMadeCrochet/app/src/main/res/values/colors.xml
TMadeCrochet/app/src/main/res/values/strings.xml
TMadeCrochet/app/src/main/res/values/themes.xml
TMadeCrochet/app/src/main/res/values-night/themes.xml
TMadeCrochet/app/src/main/res/xml/backup_rules.xml
TMadeCrochet/app/src/main/res/xml/data_extraction_rules.xml
TMadeCrochet/app/src/test/java/com/tmadecrochet/dev/ExampleUnitTest.java
TMadeCrochet/gradle/libs.versions.toml
TMadeCrochet/gradle/wrapper/gradle-wrapper.jar
TMadeCrochet/gradle/wrapper/gradle-wrapper.properties
